# Ignore virtual environment files
djenv/
env/

# Ignore database files
db.sqlite3

# Ignore static and media files (if they are generated/uploaded)
staticfiles/
media/
/static/image/



# Ignore editor-specific files
*.pyc
*.swp

# Ignore local configuration files
.env
.vscode/

# Ignore log files
*.log
